################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/named-locations-updater/.config
/WebApplication4/.config
/WebApplication4/obj
/WebApplication4/bin
