################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/named-locations-updater/.config
/named-locations-updater/obj
