@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here are the named IP locations:</p>
    <ul>
        @foreach (var location in Model.Locations)
        {
            <li>
                <a href="/Edit?locationId=@location.Id">@location.DisplayName</a>
            </li>
        }
    </ul>
</div>
